body {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.wrapper {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big_question {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    &__headding {
        display: flex;
        font-size: 1.4rem;
        margin: 4px 0;
    }
    &__input {
        width: 50%;
        max-width: 600px;
        min-width: 200px;
        border: 2px solid #cccccc;
        padding: 4px;
        border-radius: 4px;
    }
}

.questions {
    width: 100%;
    &__inner {
        &__question {
            width: 100%;
            margin: 20px 0;
            &__headding {
                font-size: 1.2rem;
                margin-bottom: 4px;
                display: flex;
                align-items: center;
                gap: 8px;
                &__select {
                    border: 2px solid #cccccc;
                    border-radius: 4px;
                    width: 2rem;
                    padding: 4px;
                    text-align: center;
                }
            }
            &__content {
                display: flex;
                justify-content: center;
                gap: 20px;
                &__image {
                    width: calc(50% - 10px);
                    min-width: 400px;
                    &__input {
                        width: 100%;
                    }
                    &__preview {
                        width: 100%;
                        margin: 4px 0;
                        border: 2px solid #cccccc;
                        & img {
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }
                &__choices {
                    margin-top: 28px;
                    width: calc(50% - 10px);
                    min-width: 400px;
                    &__list {
                        &__choice {
                            width: calc(100% - 40px);
                            min-width: 300px;
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            &__input {
                                width: 100%;
                                border: 2px solid #cccccc;
                                padding: 2px;
                                border-radius: 4px;
                                margin: 4px 0;
                                display: flex;
                            }
                            &__delete {
                                width: 32px;
                                height: 32px;
                                color: #adadad;
                                cursor: pointer;
                            }
                        }
                    }
                    &__add {
                        width: fit-content;
                        padding: 4px;
                        height: 40px;
                    }
                }
            }
        }
    }
    &__btn {
        width: 200px;
        padding: 8px;
        text-align: center;
    }
}

.send {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    &__btn {
        width: 320px;
        height: 40px;
        background-color: #0071bc;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0 2px 4px #cccccc;
        cursor: pointer;
    }
}

.add_btn {
    border: 2px solid #0071bc;
    border-radius: 4px;
    color: #0071bc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #0071bc;
        color: #ffffff;
    }
}

.hide {
    display: none;
}
