body {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.wrapper {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btns {
    display: flex;
    margin: 20px 0;
    &__btn {
        display: flex;
        width: 60px;
        height: 40px;
        border: 2px solid #cccccc;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 1.2rem;
        cursor: pointer;
        line-height: 150%;
    }

    &__edit {
        background-color: #0071bc;
    }
    &__done {
        background-color: #ed1c24;
    }
}

.bq {
    &__list {
        font-size: 1.3rem;
        margin-top: 20px;
        &__item {
            margin: 12px 0;
            display: flex;
            align-items: center;
            height: 36px;
            &__drag_icon {
                width: 28px;
                cursor: all-scroll;
                color: #cccccc;
                margin: 4px;
            }
            &__disp {
                margin-right: 8px;
                & a {
                    text-decoration: underline;
                    transition: color 0.3s;
                    &:hover {
                        color: #0071bc;
                    }
                }
            }
            &__input {
                margin-right: 8px;
                border: 2px solid #cccccc;
                border-radius: 4px;
                padding: 4px;
            }
            &__delete {
                width: 32px;
                color: #cccccc;
                cursor: pointer;
                margin: 0 4px;
            }
        }
    }
}

.create_form {
    &__title {
        font-size: 1.4rem;
        margin: 20px 0;
    }
    &__content {
        display: flex;
        gap: 20px;
        height: 40px;
        &__input {
            width: 320px;
            border: 2px solid #cccccc;
            border-radius: 4px;
            padding: 4px;
        }
        &__btn {
            font-size: 1.2rem;
            width: 80px;
            height: 100%;
            text-align: center;
            line-height: 2rem;
            border: 2px solid #cccccc;
            background-color: #0071bc;
            color: #ffffff;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

.hide {
    display: none;
}
